.header{
    text-align: center;
    background-color: rgb(48, 1, 1);
    color: blanchedalmond;
    padding: 0px;
    display: flex;
    margin-right:0;
}
.mlogo{
    height: 150px;
    margin-right: 260px;
    text-align: center;
}
.header-text{
    margin-top: 30px;
}
.home-link{
    margin-bottom: 10px;
    text-decoration: none;
    margin-right: 20px;
    padding: 5px;
    padding-left: 5px;
    padding-right: 5px;
    font-weight: bold; color: rgb(248, 128, 248);
    border: 0px;
    border-radius: 0px;
    color: rgb(3, 3, 3);
    background-color: tomato;
}